@use "../../../../colors.scss" as Color;

.cheep-gallery-modal
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    .cheep-modal-container
    {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 100%;
        background-color: Color.$suspiciousBackground;

        .gallery-container
        {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex: 1;
            overflow: hidden;
            user-select: none;

            .gallery-button
            {
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 34px;
                height: 34px;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 1000px;
                overflow: hidden;
                cursor: pointer;
                transition: background-color 0.2s;

                svg
                {
                    font-size: 18px;
                    color: #fff;
                }
            }

            .gallery-button:hover
            {
                background-color: rgba(255, 255, 255, 0.05);
                transition: background-color 0.2s;
            }

            .gallery-button.close
            {
                top: 1em;
                left: 1em;
            }

            .gallery-button.collapse
            {
                display: none;
                top: 1em;
                right: 1em;
            }

            .gallery-button.left
            {
                left: 1em;
            }

            .gallery-button.right
            {
                right: 1em;
            }

            img
            {
                max-width: 100%;
                max-height: 100%;
            }

            .slide-container
            {
                position: relative;
                flex: 1;
                height: 100%;

                .first-element,
                .last-element
                {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }

                .first-element
                {
                    top: 0;
                    left: 0;
                    transition: left 0.5s;
                }

                .last-element
                {
                    top: 0;
                    left: 100%;
                    transition: left 0.5s;
                }

                .first-element.end
                {
                    left: -100%;
                    transition: left 0.5s;
                }

                .last-element.end
                {
                    left: 0;
                    transition: left 0.5s;
                }
            }
        }

        .cheep-container
        {
            flex: 0;
            background-color: #fff;
            overflow: auto;
        }

        .cheep-container.hidden
        {
            flex: 0;
        }

        .cheep-container.show
        {
            flex: 0;
        }
    }
}

@media (min-width: 725px)
{
    .cheep-gallery-modal
    {
        .cheep-modal-container
        {
            .gallery-container
            {
                .gallery-button.collapse
                {
                    display: flex;
                }
            }

            .cheep-container
            {
                flex: 0;
            }

            .cheep-container.show
            {
                flex: 0 0 332px;
            }
        }
    }
}

@media (min-width: 950px)
{
    .cheep-gallery-modal
    {
        .cheep-modal-container
        {
            .cheep-container
            {
                flex: 0 0 332px;
            }
        }
    }
}