@use "../../../../colors.scss" as Color;

.main-section
{
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex: 0 0 980px;
    min-width: 0;

    .main-column
    {
        display: flex;
        flex-direction: column;
        flex: 0 0 600px;
        max-width: 600px;
        box-sizing: border-box;
        border: 1px solid Color.$gray2;
    }

    .right-column
    {
        position: relative;
        flex: 0 0 348px;
        max-width: 348px;
    }
}

@media (max-width: 1094px)
{
    .main-section
    {
        gap: 1em;
        flex: 0 0 920px;

        .right-column
        {
            flex: 0 0 288px;
            max-width: 288px;
        }
    }
}

@media (max-width: 1000px)
{
    .main-section
    {
        flex: 0 1 600px;
        min-width: 0;

        .main-column
        {
            flex: 0 1 600px;
            min-width: 0;
        }

        .right-column
        {
            display: none;
        }
    }
}