.standar-button-container
{
    .button-standar
    {
        height: 36px;
        padding: 0 1.5em;

        .button-text
        {
            font-size: 15px;
            font-weight: 700;
        }
    }
}