@use "../../../../colors.scss" as Color;

.user-card
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 12px 1em;
    cursor: pointer;

    .left-column
    {
        flex: 0;
    }

    .uc-right-column
    {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 6px;
        flex: 1;
        min-width: 0;
        max-width: 100%;

        .user-card-header
        {
            display: flex;
            flex-direction: row;
            align-items: center;

            .user-name-container
            {
                display: flex;
                flex-direction: column;
                flex-shrink: 1;
                flex-grow: 0;
                justify-content: stretch;
                min-width: 0;
                overflow: hidden;

                .name
                {
                    font-size: 15px;
                    font-weight: 700;
                    color: Color.$blackText;
                }

                .bottom-data
                {
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    min-width: 0;

                    .handle
                    {
                        flex-shrink: 1;
                        flex-grow: 0;
                        min-width: 0;
                        font-size: 15px;
                        color: Color.$silverText;
                        overflow: hidden;
                    }

                    .follow-mark
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        flex-shrink: 0;
                        flex-grow: 1;
                        padding: 0 4px;
                        font-size: 11px;
                        color: Color.$silverText;
                        background-color: Color.$gray2;
                        border-radius: 4px;
                    }
                }
            }

            .interaction-container
            {
                display: inline-flex;
                flex-direction: row;
                justify-content: flex-end;
                flex: 1 0;

                .button-standar
                {
                    height: 32px;
                    padding: 0 1em;

                    .button-text
                    {
                        font-size: 14px;
                        font-weight: 700;
                        white-space: nowrap;
                    }
                }
            }
        }

        .user-card-content
        {
            font-size: 15px;
            color: Color.$blackText;
        }
    }
}

.user-card:hover
{
    background-color: Color.$gray4;
}