@use "../../colors.scss" as Color;

.login-form-modal
{
    flex: 0 1 650px;
}

.modal-form-body
{
    .error-message
    {
        font-size: 15px;
        color: Color.$red1;
    }
}

@media (max-height: 650px)
{
    .login-modal
    {
        align-items: stretch;
    }
}