@media (max-width: 650px)
{
    .profile-form-modal
    {
        .modal-body
        {
            top: 0;
            max-height: 100vh;
            border-radius: 0;
            flex: 0 1 100%;
        }
    }
}

@media (max-width: 650px) and (min-height: 651px)
{
    .profile-form-modal
    {
        .modal-body
        {
            height: 100%;
            
            .modal-form
            {
                flex: 1;
            }
        }
    }
}

@media (max-height: 650px)
{
    .profile-form-modal
    {
        align-items: stretch;
    }
}