$blue1: #1D9BF0;
$blue2: #1A8CD8;
$blue3: #8ecdf7;
$blue4: #E1EEF6;

$black1: #0F1419;
$black2: #272C30;

$gray1: #CFD9DE;
$gray2: #EFF3F4;
$gray3: #E7E7E8;
$gray4: #F7F7F7;
$gray5: #EFEFEF;
$gray6: #F7F9F9;

$silver: #CFD9DE;
$silverText: #536471;

$blackText: #0f1419;

$whiteText: #fff;

$red1: #F4212E;
$red2: #DC1E29;
$red3: #F2545F;
$red4: #FDC9CE;
$red5: #FEE8EA;

$pink1: #F91880;
$pink2: #F7E0EB;

$green1: #00BA7C;
$green2: #DEF1EA;

$suspiciousBackground: rgba(2, 0, 10, 0.7);